*.bin.gz
*.cache
*.pyc
*.sublime-theme
*.tmTheme
.DS_Store
.SublimeREPLHistory
Color Highlighter
FileHistory*.json
FileHistory.sublime-settings
GitHub.sublime-settings
GitSavvy/
OmniMarkupPreviewer/
oscrypto-ca-bundle.crt
Package Control.*-ca-bundle
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run
Package Control.system-ca-bundle
Projects/
SublimeLinter/
Theme-Switcher.cache